USE [master]
GO
/****** Object:  Database [SUSHNOST]    Script Date: 10.06.2021 9:10:18 ******/
CREATE DATABASE [SUSHNOST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SUSHNOST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SUSHNOST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SUSHNOST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SUSHNOST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SUSHNOST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SUSHNOST]
GO
USE [SUSHNOST]
GO
/****** Object:  Table [dbo].[Robo_Tab]    Script Date: 10.06.2021 9:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Robo_Tab](
	[id] [numeric](18, 0) NULL,
	[Title
Title] [nvarchar](max) NULL,
	[Descriptcion] [nvarchar](50) NULL,
	[Imagine] [image] NULL,
	[Body] [nvarchar](max) NULL,
	[Create date] [datetime] NULL,
	[Metatags] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
	[Visible] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
